PORT=3000
NODE_ENV=development

# configurazionde database
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD= tua_password_qui
DB_NAME= orvent_db
DB_PORT=3306

# sicurezza
JWT_SECRET=inserisci_una_stringa_segreta_molto_lunga_e_sicura
JWT_EXPIRES_IN=8h